@inherits UmbracoViewPage<IPublishedContent>
    
<article class="c-card o-grid__item">
    <img class="c-card__item__image" src="/assets/img/staff-4.png" alt="David Guild" />                
    <div class="c-card__item__title">
        <h2 class="u-gamma">David Guild</h2>
        <span>Managing Director</span>
    </div>
    <div class="c-card__item__detail">
        <p>Ext. 020</p>
        <a class="c-card__item__detail--link" href="#">Email</a>
    </div>       
</article>