/* ===========================================================

	# Hamburger

=========================================================== */

.c-header__search {
    background-color: $pri;
    color: $sec;
    float: right;
    height: 111px;
    width: 10%;
    padding-top: 3.5rem;
    text-align: center;

    @include respond-max ($mq-large) {
		display: none;
	}

    i {
        font-size: 3rem;
        padding-right: 1rem;
    }
} 

.c-header__hamburger {
    background-color: $pri;
    color: $sec;
    text-align: center;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3.5% 2rem;

    i {
        font-size: 5rem;
        float: right;
        padding: 0 1rem;
        margin-top: -1.4rem;
    }

    @include respond-min ($mq-large) {
		display: none;
	}
} 