/* ===========================================================

	# Header

=========================================================== */

.c-header {
	background-color: $sec;
	background-image: linear-gradient(to right, #ffffff 1%,#ffffff 50%,#000000 50%,#000000 50%,#000000 100%);
	position: relative;
	z-index: 10;
	transition: background $speed $ease,
				border-color $speed $ease;
	
	@include respond-max($mq-medium){
		height: 7.5rem;
	}

	@include respond-max($mq-small){
		height: 6rem;
	}
}

.c-header__container {
	background-color: $sec;
	position: relative;
	transition: height $speed $ease;

	@include respond-max($mq-medium){
		height: 7.5rem;
	}

	@include respond-max($mq-small){
		height: 6rem;
	}
}

.c-header__logo-link {
	display: block;
	float: left;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	min-width: 5.5rem;
	width: 9%;
	transition: width $speed $ease;
	padding-left: 4rem;

	@include respond-max ($mq-medium) {
		float: none;
		margin: 0 auto;
	}
}

@include respond-max( $mq-medium ) {

	.enhance {

		.c-header__toggle-menu-button {
			color: $pri;
			font-size: 2.4rem;
			display: block;
			float: right;
			padding: .9rem 1.3rem .8rem;
			transition: color $speed $ease,
						background $speed ease;

			i {
				vertical-align: middle;
			}

			&:hover,
			&:focus {
				color: $sec;
			}
		}

		.c-header__logo-link {
			float: left;
			padding: 1rem;
		}

		&.nav-main-open {

			.c-header__toggle-menu-button {
				color: $white;

				&:hover,
				&:focus {
					color: $pri;
				}
			}

		}

	}

}

@include respond-min( $mq-medium ) {

	.c-header__logo-image {
		width: 15rem;
	}

	.c-header__inner {
		float: left;
	}

	.c-nav--main {
		float: right;
	}
}


//sticking the header to margin-top
.js-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
	}

@include respond-min($mq-small){
	.js-fixed {
		height: 5rem;
		box-shadow: 5px 5px 15px rgba($black, 0.3);

		.c-header__container{
			height: 5rem;
		}

		.c-header__logo-link {
			max-width: 8rem;
			margin-top: 0.2rem;
		}

		.c-nav--main {
			margin-top: 0.5rem;
		}

		.c-header__search {
			height: 5rem;
			padding-top: 1rem;

			i {
				padding: 0
			}
		}
	}
}

