/* ===========================================================

	# Header

=========================================================== */

.c-header {
	background-color: $sec;
	background-image: linear-gradient(to right, #ffffff 1%,#ffffff 50%,#000000 50%,#000000 50%,#000000 100%);
	position: relative;
	z-index: 10;
	transition: background $speed $ease,
				border-color $speed $ease;	
}

.c-header__container {
	background-color: $sec;
	min-height: 6rem;
	position: relative;
}

.c-header__logo-link {
	display: block;
	float: left;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	min-width: 5.5rem;
	width: 10%;
	padding-left: 4rem;

	@include respond-max ($mq-large) {
		float: none;
		margin: 0 auto;
	}
}

@include respond-max( $mq-large ) {

	.enhance {

		.c-header__toggle-menu-button {
			color: $pri;
			font-size: 2.4rem;
			display: block;
			float: right;
			padding: .9rem 1.3rem .8rem;
			transition: color $speed $ease,
						background $speed ease;

			i {
				vertical-align: middle;
			}

			&:hover,
			&:focus {
				color: $sec;
			}
		}

		.c-header__logo-link {
			float: left;
			padding: 1rem;
		}

		&.nav-main-open {

			.c-header__toggle-menu-button {
				color: $white;

				&:hover,
				&:focus {
					color: $pri;
				}
			}

		}

	}

}

@include respond-min( $mq-large ) {

	.c-header__logo-image {
		width: 15rem;
	}

	.c-header__inner {
		float: left;
	}

	.c-nav--main {
		float: right;
	}
}


