/* ===========================================================

	# Hero

=========================================================== */

.c-hero {
    background-image: url('../img/pug.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.c-hero__content {
    width: 100%;
    padding: 30rem 0;
    color: $sec;

    h1 {
        color: $sec;
    }
}

.c-hero--middle {
    background-image: url('../img/ET-pug.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.c-hero--carousel {
    .single-item {
        width: 100%;
        margin: 0 auto;
    }

    .c-hero--carousel-img {
        width: 100%;
    }
}