@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>

@{
    
}

<section class="c-carousel js-carousel u-clearfix u-space-bottom" data-auto-play="true" data-speed="4000" data-fade="true" data-dots="true" data-pause="true" data-nav="true">
    <article class="c-cover c-carousel__item" style="background-image: url('../assets/img/cat.jpg');"></article>
    <article class="c-cover c-carousel__item" style="background-image: url('../assets/img/ET-Pug.jpg');"></article>
    <article class="c-cover c-carousel__item" style="background-image: url('../assets/img/pet.jpg');"></article>
</section> 

