@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>

@{
    
}

<section class="c-hero--carousel u-clearfix">
    <div class="single-item">
        <div>
            <img class="c-hero--carousel-img" src="../testSite/assets/img/cat.jpg" alt"">
        </div>
    </div>
</section> 